@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"]</h2>

<address>
    White Rock Pier<br />
    White Rock Promenade, White Rock, BC V4B<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:LMYC@example.com">LMYC@example.com</a><br />
</address>
