<div style="text-align:center">
  <h2>Reservations</h2>
  <table align="center" *ngIf="reservations" border="1">
    <thead>
      <tr>
        <th>UserName</th>
        <th>Boat</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of reservations; let i=index; ">
        <td>{{r.userName}}</td>
        <td>{{r.reservedBoat.boatName}}</td>
        <td>{{r.startDate}}</td>
        <td>{{r.endDate}}</td>
      </tr>
    </tbody>
  </table>
</div>
